/*!
  * =============================================================
  * Ender: open module JavaScript framework (https://enderjs.com)
  * Build: ender {{{context}}}
  * Packages: {{{packageList}}}
  * =============================================================
  */

(function () {
{{#packages}}{{>package.mustache}}{{/packages}}
}.call({}));
//# sourceMappingURL={{{sourceMapName}}}
