/*!
  * =============================================================
  * Ender: open module JavaScript framework (https://ender.no.de)
  * Build: ender {{{context}}}
  * Packages: {{packageList}}
  * =============================================================
  */

!function () {
{{#packages}}{{> package.mustache }}{{/packages}}{{^sandbox}}{{#packages}}{{#isBare}}{{{bridgeSource}}}
{{/isBare}}{{/packages}}{{/sandbox}}
}.call({});