/*!
  * =============================================================
  * Ender: open module JavaScript framework (https://ender.no.de)
  * Build: ender {{{context}}}
  * Packages: {{packageList}}
  * =============================================================
  */

!function () {

{{#packages}}{{#isBare}}{{{mainSource}}}
{{/isBare}}{{/packages}}{{#packages}}{{^isBare}}{{> package.mustache }}
{{/isBare}}{{/packages}}{{^sandbox}}{{#packages}}{{#isBare}}{{{bridgeSource}}}
{{/isBare}}{{/packages}}{{/sandbox}}  // Integrate all the modules
  Module._integrate()

}.call({});
