{{#isBare}}{{#sources}}
{{{content}}}{{/sources}}{{/isBare}}{{^isBare}}
  Module.loadPackage({{{name}}}, {
{{#sources}}{{#i}},
{{/i}}    {{{name}}}: function (module, exports, require, global) {

{{{content}}}
    }{{/sources}}
  }, {{isExposed}}, {{{main}}}{{#bridge}}, {{{bridge}}}{{/bridge}});
{{/isBare}}