{{#isBare}}
{{{mainSource}}}
{{/isBare}}{{^isBare}}
  Module.package({{{id}}}, {
{{#sources}}{{#i}},{{/i}}
    {{{name}}}: function (module, exports, require) {
{{{contents}}}
    }{{/sources}}
  }, {{isExposed}}{{#main}}, {{{main}}}{{#bridge}}, {{{bridge}}}{{/bridge}}{{/main}});
{{/isBare}}